/**
 * Article
 */

.article {
  padding: 100px 0 0;

  p {
    color: #121630;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    +p {
      margin-top: 24px;
    }
  }

  i,
  em {
    font-style: italic;
  }

  b,
  strong {
    font-weight: 600;
  }

  .photo {
    margin: 20px 0;
  }

}

/**
 * Article Author
 */

.section-author {
  margin-top: 100px;
  margin-bottom: 15px;
}

.author__row {
  display: flex;
  align-items: center;
  padding: 30px;
  background: $light-yellow;
}

.author__photo {
  max-width: 200px;
  width: 100%;
}

.author__avatar {
  flex: 0 0 200px;
  margin-right: 30px;
}

.author__name {
  color: $blue;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

.author__dsc {
  color: #757993;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;

}

.author__about {
  max-width: 360px;
}


.social-attr {
  margin-top: 45px;
}


/**
 * Author Social Menu
 */
.social-attr__list {
  display: flex;
}

.social-attr__item {
  +.social-attr__item {
    margin-left: 15px;
  }
}

.social-attr__link {
  display: block;

  &:hover {
    opacity: .8;
  }
}

/**
 * Comments
 */

.comments-row {
  padding: 30px;
  background: $light-yellow;
}

.comments-form__header {
  padding: 0 0 30px;
}

.comments-form__title {
  color: #757993;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

/**
 * Comments Form
 */

.comments-form {
  padding: 0 0 60px;

  .textarea,
  .input {
    padding: 15px 20px;

    color: #757993;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;

    width: 100%;

    border-radius: 6px;
    border: solid 1px #757993;
    background: #fff;
  }

  .form-field {
    +.form-field {
      margin-top: 15px;
    }
  }

  .form-field-submit {
    text-align: center;
  }
}

.comments__item {

  +.comments__item {
    margin-top: 45px;
  }
}


.comments__credentials {
  display: flex;
  padding: 0 0 20px;
  align-items: center;
}

.comments-author__thumb {
  width: 50px;
  height: 50px;
  margin-right: 10px;

  img {
    width: 100%;
  }
}

.comments-author {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  display: block;
}

.comments-author__date {
  color: $silver;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  display: block;
  padding: 5px 0 0;
}
