/**
 * Buttons
 */

/**
 * Default Button
 */

$btn-color: $white;
$btn-color-primary: $black;

$btn-bg-default: $blue;
$btn-bg-primary: $yellow;

.btn {
  color: $btn-color;
  font-size: 22px;
  font-weight: 900;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;

  display: inline-block;
  padding: 0 30px;

  position: relative;

  border-radius: $border-radius-lg;
  background: $btn-bg-default;

  border: 3px solid transparent;

  transition: $btn-transition;

  cursor: pointer;

  @include unselectable;

  &.btn-icon {
    padding: 0 63px 0 37px;

    .icon {
      top: 2px;
      right: 4px;
    }
  }

  &.btn-icon-left {
    text-align: right;
    padding: 0 37px 0 63px;

    .icon {
      top: 2px;
      left: 4px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    text-decoration: none;
    border: solid 3px #00139b;

    .icon {
      box-shadow: none;
    }
  }

  &-primary {
    color: $btn-color-primary;
    background: $btn-bg-primary;

    &:hover,
    &:focus,
    &:active {
      color: $dark;
      text-decoration: none;
      border: solid 3px rgba(18, 22, 48, 0.2);
      background: $btn-bg-primary;

      .icon {
        box-shadow: none;
      }
    }
  }

  &-transparent {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(18, 22, 48, 0.5);


    &:hover,
    &:focus,
    &:active {
      color: $white;
      text-decoration: none;
      border: 3px solid $white;
      background-color: rgba(18, 22, 48, 0.5);
    }
  }
}

/**
 * Short Buttons
 */
.btn-short {
  width: 40px;
  height: 40px;
  padding: 0;

  -webkit-backdrop-filter: blur(14.3px);
  backdrop-filter: blur(14.3px);

  box-shadow: 0 7px 17px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(18, 22, 48, 0.5);

  .icon-arrow-left {
    transform: scaleX(-1);
  }

  .icon {
    background-color: transparent;
    box-shadow: none;

    &.icon-arrow-left,
    &.icon-arrow-right {
      top: -2px;
      left: -2px;
    }

  }

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(18, 22, 48, 0.5);
    border: solid 3px rgba(255, 255, 255, 0.3);
  }

  // &:hover {
  //   transform: scale(1.4);
  // }

}



/**
 * Responsive
 */
@media only screen and (max-width: 768px) {
  .btn {
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    border-radius: 16px;

    &.btn-icon {
      padding: 0 63px 0 37px;

      .icon {
        top: 1px;
        right: 2px;
      }
    }

    &.btn-icon-left {
      text-align: right;
      padding: 0 37px 0 63px;

      .icon {
        top: 2px;
        left: 4px;
      }
    }
  }


  .btn-short {
    width: 40px;
    height: 40px;
    padding: 0;

    -webkit-backdrop-filter: blur(14.3px);
    backdrop-filter: blur(14.3px);

    box-shadow: 0 7px 17px 0 rgba(0, 0, 0, 0.3);
    background-color: rgba(18, 22, 48, 0.5);

    border-radius: 50%;

    .icon-arrow-left {
      transform: scaleX(-1);
    }

    .icon {
      background-color: transparent;
      box-shadow: none;

      &.icon-arrow-left,
      &.icon-arrow-right {
        top: 3px;
        left: 3px;
      }
    }
  }
}