/**
 * Fonts
 */



@font-face {
  font-family: 'Coco Gothic';
  src: url('../fonts/subset-CocoGothic-Regular.woff2') format('woff2'),
    url('../fonts/subset-CocoGothic-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coco Gothic';
  src: url('../fonts/subset-CocoGothic-Bold.woff2') format('woff2'),
    url('../fonts/subset-CocoGothic-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coco Gothic';
  src: url('../fonts/subset-CocoGothic-Fat.woff2') format('woff2'),
    url('../fonts/subset-CocoGothic-Fat.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coco Gothic';
  src: url('../fonts/subset-CocoGothic-Heavy.woff2') format('woff2'),
    url('../fonts/subset-CocoGothic-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coco Gothic';
  src: url('../fonts/subset-CocoGothic-BoldItalic.woff2') format('woff2'),
    url('../fonts/subset-CocoGothic-BoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Coco Gothic';
  src: url('../fonts/subset-CocoGothic-Italic.woff2') format('woff2'),
    url('../fonts/subset-CocoGothic-Regular.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
