/**
 * Grid
 */

// Extended Container
// .container-lg {
//   max-width: 1400px;
// }

// Default Container (1024 + margin 30)
.container {
  max-width: 1054px;
}

.container-full {
  max-width: 1200px;
}

.container-sm {
  max-width: 700px;
}



@media only screen and (max-width: 767px) {
}

