/**
 * Icons
 */

.i-arrow {
  display: inline-block;
  width: 16px;
  height: 16px;

  background: url('../images/icon-arrow-blue.svg') no-repeat;
  background-size: 16px 16px;
}


/**
 * Icons
 */

.icon {
  position: absolute;

  width: 40px;
  height: 40px;

  border-radius: 50%;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(18, 22, 48, 0.5);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 17px;

  &.icon-plus {
    background-image: url('../images/icon-plus.svg');
  }

  &.icon-arrow {
    background-image: url('../images/icon-arrow.svg');
  }

  &.icon-arrow-right {
    background-image: url('../images/icon-arrow-right.svg');
    background-size: 20px 24px;
  }

  &.icon-arrow-left {
    background-image: url('../images/icon-arrow-right.svg');
    background-size: 20px 24px;
  }
}

@media only screen and (max-width: 768px) {


  .icon {
    width: 28px;
    height: 28px;
    background-size: 12px 12px;


    &.icon-arrow-right {
      background-size: 16px 16px;
    }

    &.icon-arrow-left {
      background-size: 16px 16px;
    }
  }

}


/**
 * Small Social Icons
 */

.i-soc-sm {
  display: inline-block;
  width: 9px;
  height: 18px;

  background-repeat: no-repeat;
  background-image: url('../images/icon-soc-sm-fb.svg');

  &.i-soc-sm-tw {
    width: 18px;
    height: 15px;
    background-image: url('../images/icon-soc-sm-tw.svg');
  }

  &.i-soc-sm-in {
    width: 19px;
    height: 18px;

    background-image: url('../images/icon-soc-sm-in.svg');
  }

  &.i-soc-sm-inst {
    width: 18px;
    height: 18px;
    background-image: url('../images/icon-soc-sm-inst.svg');
  }
}
