// Disable text selection
@mixin unselectable {
  user-select: none;
}

// Flex Centering
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hover ($color, $text-decoration) {
  &:focus,
  &:active,
  &:hover {
    color: $color;
    text-decoration: $text-decoration;
  }
}
