/**

  Navigation

  Table of Contents
  -----------------

  Start Button
  Main Menu

 */

$hamburger-width: 23px;
$hamburger-height: 18px;

.nav {
  position: fixed;
  top: 53px;
  right: 120px;
  z-index: 2102;

  display: none;

  &.nav-short {

    .btn-nav {
      width: 70px;

      .btn-nav__label {
        opacity: 0;
        transition: all 0.150s ease;
      }
    }

    .btn-primary {
      display: block;

      &.hide {
        display: none;
      }
    }

  }

  .btn-primary {
    margin-right: 20px;
    display: none;
  }
}

.main-menu-active {
  .nav {
    .btn-primary {
      display: block;
    }
  }

  .sticky-slider {
    display: none;
  }

}


/*
 * Start Button
 * ========================================================================== */

.btn-nav {
  color: $text-color;

  font-size: 14px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 55px;

  display: inline-block;
  width: 260px;
  height: 50px;
  padding: 0 23px 0 27px;

  background: $yellow;
  border-radius: $border-radius-lg;

  transition: width 0.150s ease;

  @include unselectable;

  &:active,
  &:focus,
  &:hover {
    color: $text-color;
    text-decoration: none;
  }


  &:hover {
    color: $text-color;
    letter-spacing: 16px;

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      width: $hamburger-width;
      transition: width 0.150s ease;
      background: $text-color;
    }
  }


  &.active {
    width: 70px;

    .btn-nav__label {
      opacity: 0;
      transition: all 0.150s ease;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      width: $hamburger-width;
    }

    .hamburger-inner {
      transform: rotate(45deg);
      transition-delay: 0.15s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.150s ease,
          opacity 0.075s 0.12s ease;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.150s ease,
          transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }

  .btn-nav__label {
    opacity: 1;
    transition: all .8s ease;
  }

}


/**
 * Hamburger Button with Squeeze effect
 * src: https://github.com/jonsuh/hamburgers/blob/master/dist/hamburgers.css
 */

.hamburger {
  position: absolute;
  right: 23px;
  top: 3px;

  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: $text-color;
}

.hamburger-box {
  width: $hamburger-width;
  height: $hamburger-height;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: $hamburger-width - 3px;
  height: 4px;
  background-color: $text-color;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}

.hamburger-inner::before {
  top: -7px;
  width: $hamburger-width;
}

.hamburger-inner::after {
  bottom: -7px;
  width: $hamburger-width - 6px;
}


.hamburger-squeeze {

  .hamburger-inner {
    transition-duration: 0.150s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.150s 0.12s ease,
        opacity 0.075s ease;
    }

    &::after {
      transition: bottom 0.150s 0.12s ease,
        transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }
}



/*
 * Main Menu
 * ========================================================================== */

.main-menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 1201;

  transition: all .8s ease;

  border-bottom: 4px solid $yellow;
  opacity: 0;

  background: linear-gradient(to left, $white 65%, $black 35%);

}

.main-menu-active {
  .main-menu {
    top: 0;
    opacity: 1;
  }

}

/**
 * Main Menu Grid
 */


.main-menu-row {
  display: flex;
  min-height: 500px;
  max-width: 1660px;
  margin: 0 auto;
}

/**
 * Main Menu Aside
 */

.main-menu-aside {
  flex: 0 0 550px;

  display: flex;
  align-items: center;

  position: relative;
  padding-left: 160px;
  padding-right: 60px;

  position: relative;

  background: $black;
}

.main-menu-aside__content {
  max-height: 326px;
}

.main-menu__heart {
  position: absolute;
  width: 113px;
  right: -57px;
  top: 200px;
}

.main-menu-aside__text {
  color: $text-color-invert;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.17;
  padding: 0 0 10px;

  span {
    display: block;
  }
}

.main-menu-aside__link {
  .btn {
    max-width: 300px;
    width: 100%;

    padding-left: 27px;
  }
}

.main-menu-aside__em {
  color: $text-color-em-invert;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;

  display: block;
  padding: 28px 0 20px;
}


/**
 * Main Menu Links Area
 */
.main-menu-area {
  padding: 190px 110px 0;
  background: $white;
}

.main-menu__header {
  padding: 0 0 27px;
}

.main-menu__logo {
  max-width: 203px;
}

.main-menu__link {
  color: $text-color;
  font-size: 45px;
  font-weight: 900;
  white-space: nowrap;

  display: block;
  padding-bottom: 10px;

  i {
    margin: 0 0 3px 7px;
  }
}

.main-menu__dsc {
  color: $text-color;
  font-weight: 600;
  line-height: 1.29;

  max-width: 200px;
}

/**
 * Main Menu List
 */

.main-menu__list {
  display: flex;
}

.main-menu__item {
  padding: 0 100px 0 0;
}

/**
 * Responsive
 */

@media only screen and (max-width: 1464px) {
  .main-menu-aside {
    padding: 0 30px;
    flex: 0 0 420px;
  }

  .main-menu-aside__content {
    max-width: 360px;
  }

  .main-menu__item {
    padding-right: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .main-menu-area {
    padding: 190px 110px;
  }

  .main-menu__list {
    flex-direction: column;
  }

  .main-menu__dsc {
    max-width: none;
  }

  .main-menu__item {
    +.main-menu__item {
      padding-top: 30px;
    }
  }
}

@media only screen and (max-width: 768px) {
  $hamburger-width: 16px;
  $hamburger-height: 13px;

  .main-menu-active {
    height: 100vh;
    overflow: hidden;

    .nav {
      .btn-primary {
        display: none;
      }
    }
  }

  .nav {
    top: 26px;
    right: 30px;

    &.nav-short {
      .btn-nav {
        width: 50px;
      }
    }
  }

  .btn-nav {
    height: 36px;
    line-height: 37px;
    width: 182px;
    padding: 0 9px 0 19px;

    &.active {
      width: 50px;
    }

    .btn-nav__label {
      font-size: 10px;
      letter-spacing: 2.8px;
    }


    &:hover {

      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        width: $hamburger-width;
      }
    }

    &.active {

      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        width: $hamburger-width;
      }

    }
  }

  .hamburger {
    top: 5px;
    right: 9px;
  }


  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: $hamburger-width - 3px;
    height: 3px;
    background-color: $text-color;
    border-radius: 3px;
  }

  .hamburger-inner::before {
    top: -5px;
    width: $hamburger-width;
  }

  .hamburger-inner::after {
    bottom: -5px;
    width: $hamburger-width - 5px;
  }

  /**
   * Responsive Menu Content
   */

  .main-menu__item+.main-menu__item {
    margin-top: 45px;
  }

  .main-menu-aside {
    padding: 0 30px;
    flex: 0 0 360px;
  }

  .main-menu-aside__text {
    font-size: 25px;
    font-weight: 900;
    line-height: 1.4;
  }

  .main-menu-area {
    padding: 50px 80px;
  }

  .main-menu__header {
    padding-bottom: 40px;
  }

  .main-menu__heart {
    top: 305px;
  }
}

@media only screen and (max-width: 678px) {
  .main-menu-aside {
    flex: 0 0 277px;
  }
}

@media only screen and (max-width: 580px) {
  .btn-nav {
    width: 50px;

    .btn-nav__label {
      display: none;
    }
  }

  .main-menu {
    min-height: 100%;
    overflow-y: scroll;
  }

  .main-menu-row {
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: 100%;
    min-height: auto;
  }

  .main-menu-area {
    padding: 30px 30px 60px;
  }

  .main-menu__header {
    padding-bottom: 30px;
  }

  .main-menu__list {
    align-items: center;
  }

  .main-menu__link {
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 0;
  }

  .main-menu__item {
    padding: 0;
    max-width: 250px;

    +.main-menu__item {
      margin-top: 0;
      padding-top: 23px;
    }
  }

  .main-menu__dsc {
    max-width: 250px;
  }

  .main-menu-aside {
    padding: 30px;
    flex-grow: 1;
  }

  .main-menu__heart {
    top: -50px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-menu-aside__content {
    max-width: none;
    max-height: none;
    width: 100%;
    text-align: center;
  }

  .main-menu-aside__text span {
    display: inline;
  }

  .main-menu-aside__text {
    text-align: center;
    font-size: 20px;
  }
}

@media only screen and (max-width: 330px) {

  .main-menu {
    background: linear-gradient(to bottom, $white 65%, $black 35%);
  }

  .main-menu-area {
    padding: 30px;
  }

  .nav {
    right: 5px !important;
  }

  .main-menu__dsc {
    display: none;
  }

  .main-menu__list {
    display: block;
  }

  .main-menu__link {
    font-size: 24px;
  }

  .main-menu__heart {
    display: none;
  }

  .main-menu-aside__text {
    font-size: 15px;
  }

  .main-menu-aside__em {
    padding: 20px 0 15px;
  }

  .main-menu-aside {
    align-items: flex-start;
  }

  .main-menu__item + .main-menu__item {
    padding-top: 15px;
  }
}
