/**
 * Responsive
 */




@media only screen and (max-width: 1265px) {
  .container-full {
    padding: 0 30px;
  }

  .nav {
    right: 30px;
  }
}

@media only screen and (max-width: 1120px) {
  .sticky-slider {
    display: none;
  }
}

@media only screen and (max-width: 1030px) {
  .intro-header .title {
    font-size: 18vw;
  }

  .title {
    font-size: 140px;

    &-sm {
      font-size: 70px;
    }
  }

  .swiper-button-prev {
    left: 30px;
  }

  .testimonials-slider .swiper-button-next,
  .swiper-button-next {
    right: 30px !important;
  }
}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header {
    padding: 30px 0;
  }

  .logo-img {
    max-width: 219px;
  }
}

@media only screen and (max-width: 576px) {
  .title {
    font-size: 80px;

    &-sm {
      font-size: 50px;
    }
  }

  .subtitle {
    font-size: 31px;
  }
}
