/**
 * Home: Our Process
 */


.our-process {
  padding: 100px 0;
  background: $white;

  .subtitle {
    padding: 0 0 23px;
  }

  .title {
    max-width: 918px;
  }
}

.our-process__header {
  padding: 0 0 83px;
  position: relative;
  z-index: 100;
}

/**
 * Scene
 */
.our-process-scene {
  position: relative;

  height: 774px;
  border-radius: $border-radius-lg;
  background-color: rgba(252, 207, 1, .11);
  padding: 0 160px;
}

.our-process-scene__img {
  position: absolute;
  width: 704px;
  bottom: 107px;
  left: 177px;
}

/**
 * Pints
 */

.start-points__item {
  position: absolute;
  bottom: 110px;


  // Develop
  &:nth-child(1) {
    left: 189px;
  }

  // Design
  &:nth-child(2) {
    left: 462px;
    bottom: 231px;

    .start-points__button {
      bottom: 6px;
      left: -108px;
    }

    .start-points__hint {
      bottom: 16px;
      left: -108px;
    }

    .start-points__flag {
      left: 5px;
    }
  }

  // Develop
  &:nth-child(3) {
    left: 624px;
    bottom: 310px;

    .start-points__button {
      bottom: 20px;
      //left: -64px;
      left: -100px;
    }

    .start-points__hint {
      bottom: 30px;
      left: -100px;
    }

    .start-points__flag {
      left: 5px;
    }

  }

  // Test
  &:nth-child(4) {
    left: 694px;
    bottom: 365px;

    .start-points__button {
      bottom: 20px;
      //left: 0;
      left: 60px;
    }

    .start-points__hint {
      bottom: 30px;
      left: 60px;
    }

    .start-points__flag {
      left: 5px;
    }

  }

  // Launch
  &:nth-child(5) {
    left: 523px;
    bottom: 542px;

    .start-points__button {
      bottom: 10px;
      left: -100px;
    }

    .start-points__hint {
      bottom: 20px;
      left: -100px;
    }

    .start-points__flag {
      left: 25px;
    }
  }


}

.start-points__flag {
  transition: $btn-transition;
  opacity: 0;

  position: relative;
  left: 7px;
  bottom: 2px;
  width: 50px;
  height: 71px;
}

.start-points__button {
  color: $text-color;
  font-size: 12px;
  font-weight: 800;
  line-height: 28px;
  text-align: center;

  position: absolute;
  width: 100px;

  bottom: 90px;
  left: -20px;

  border-radius: $border-radius;
  border: solid 2px #fff;

  background-color: $yellow;

  cursor: default;

  z-index: 80;

  &.active~.start-points__hint,
  &:hover~.start-points__hint {
    opacity: 1;
  }

  &.active~.start-points__flag,
  &:hover~.start-points__flag {
    opacity: 1;
  }

}

.start-points__hint {
  transition: $btn-transition;
  opacity: 0;

  color: $white;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.09;

  position: absolute;
  display: block;

  padding: 10px 9px;

  height: 100px;
  width: 100px;

  bottom: 100px;
  left: -20px;

  border-radius: 8px;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  background-color: rgba(95, 100, 131, 0.7);

  z-index: 70;
}



/**
 * Our Process Menu
 */

.our-process-menu {
  border-radius: $border-radius-lg;
  background-color: rgba(252, 207, 1, .34);

  display: flex;
  justify-content: space-between;

  margin-top: -40px;
  position: relative;
  z-index: 100;
}

.our-process-menu__item {
  flex-grow: 1;
  flex-basis: 0;
}


.our-process-menu__link {
  color: $text-color;
  font-size: 22px;
  font-weight: 900;
  line-height: 50px;
  text-align: center;
  display: block;

  border-radius: 35px;

  @include unselectable;

  &:hover {
    color: $text-color;
    text-decoration: none;
    background: $yellow;
  }

  &:focus {
    color: $text-color;
    text-decoration: none;
  }

  &.active {
    color: $text-color-invert;
    text-decoration: none;
    background: #0020ff;
  }

}


/**
 * Our Process Details
 */

.our-process-details {
  padding: 36px 0 0;
}

.our-process-details__content {
  max-width: 711px;
  padding: 0 12px 40px;

  &.lg {
    max-width: none;
  }
}

.our-process-details__title {
  color: $text-color;
  font-size: 35px;
  font-weight: 900;
  padding-bottom: 5px;
}

.our-process-details__subtitle {
  color: $silver;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.11;
}

.our-process-details__title-secondary {
  font-size: 22px;
  font-weight: 900;
  line-height: 1.18;
  padding-bottom: 10px;
}

.our-process-details__platforms,
.our-process-details__lang {
  position: relative;
  overflow: hidden;

  padding: 30px;
  border-radius: $border-radius-lg;

  .our-process-details__subtitle {
    padding-bottom: 6px;
  }

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 30%;
    right: 0;
  }
}

.our-process-details__platforms {
  margin-top: 23px;
  background: rgba(254, 246, 211, .5);

  &:before {
    background: -moz-linear-gradient(left, rgba(30, 87, 153, 0) 0%, rgba(254, 250, 233, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(30, 87, 153, 0) 0%, rgba(254, 250, 233, 1) 100%);
    background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, rgba(254, 250, 233, 1) 100%);
  }
}

.our-process-details__lang {
  margin-top: 30px;
  background: rgba(239, 241, 255, .5);

  &:before {
    background: -moz-linear-gradient(left, rgba(30, 87, 153, 0) 0%, rgba(239, 241, 255, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(30, 87, 153, 0) 0%, rgba(239, 241, 255, 1) 100%);
    background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, rgba(239, 241, 255, 1) 100%);
  }
}

.our-process-testing__img {
  padding: 0 40px;
}

.our-process__launch-img {
  max-width: 800px;
  margin: 0 auto;
}

.our-process__launch-msg {
  text-align: center;

  margin: 0 auto;

  max-width: 713px;
  padding: 30px 0;

  p {
    font-size: 35px;
    font-weight: 900;
    line-height: 1.14;
    text-align: center;

    &.primary {
      color: $blue;
    }

    em {
      color: $red;
    }
  }
}

.our-process__launch-btn {
  text-align: center;
  padding: 30px 0 0;
}

/**
 * Slider
 */
.our-process-slider {
  position: relative;
  min-height: 320px;
  padding-top: 40px;

  .swiper-slide {
    opacity: 1;
    transition: all .3s;

    &-prev,
    &-next {
      opacity: 0;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    z-index: 1;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  /* Scrollbar */
  .swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 32, 255, .5);

    height: 10px;
    width: 300px;
  }

  .swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%;
  }

  .swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
  }

  .swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    left: 0;
    top: 0;

    background: $blue;
  }

  .swiper-scrollbar-cursor-drag {
    cursor: move;
  }
}

.our-process-nav {
  display: flex;
  justify-content: flex-end;
  padding: 40px 0 0;
}

.our-process-nav__title {
  color: $blue;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 4px;
  text-align: right;
  text-transform: uppercase;

  position: relative;
  margin: -2px 20px 0 0;
}

/**
 * Responsive
 */
@media only screen and (max-width: 768px) {
  .our-process-scene__img {
    width: 100%;
    left: 0;

    svg {
      width: 100%;
    }
  }

  .our-process-menu__link {
    font-size: 15px;
    line-height: 35px;
  }

  .our-process__launch-msg p,
  .our-process-details__title {
    font-size: 24px;
  }

  .our-process-details__subtitle {
    font-size: 12px;
  }
}

@media only screen and (max-width: 576px) {
  .our-process {
    padding: 50px 0 100px;
  }

  .our-process-slider {
    padding-top: 0;
  }

  .our-process-scene__img {
    bottom: 0;
    top: -68px;
    svg {
      height: auto;
    }
  }

  .our-process-scene {
    height: auto;
    padding: 0;
  }

  .our-process-scene__img {
    position: relative;
  }
}
