/**
 * Home: Services
 */


/*
 * Services
 * ========================================================================== */

.services {
  padding: 100px 0 0;
  background: $white;
}

.header-services {
  padding: 0 0 45px;
}

.services-tabs {
  display: flex;
}

/**
 * Tabs Nav
 */
.services-tabs__link {
  display: flex;
  flex-flow: row;
  justify-content: center;
  position: relative;

  max-width: 547px;
  width: 100%;
  min-height: 160px;
  border-radius: 16px 0 0 16px;

  padding: 0 100px 0 0;

  transition: all 0.075s ease;

  cursor: default;


  &.active {
    background-color: rgba(0, 32, 255, .1);

    .services-tabs__header,
    .services-tabs__dsc {
      color: $blue;
    }

    .services-tabs__arrow {
      opacity: 1;
    }

  }


  &:active,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    background-color: rgba(0, 32, 255, .1);

    .services-tabs__header,
    .services-tabs__dsc {
      color: $blue;
    }

    .services-tabs__arrow {
      opacity: 1;
    }

  }
}

.services-tabs__icon {
  width: 160px;
  height: 160px;
  flex: 0 0 160px;

  @include flex-center;
}

.tabs-icon {
  width: 118px;
  height: 110px;

  &.icon-services-rocket-launch {
    width: 90px;
  }

  &.icon-services-business-graph {
    width: 76px;
  }
}

.services-tabs__content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-left: 14px;
}

.services-tabs__arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  right: -25px;
  top: 50%;
  margin-top: -25px;
  opacity: 0;
}

.services-tabs__header {
  font-size: 45px;
  font-weight: 900;
  padding-bottom: 7px;
}

.services-tabs__dsc {
  color: #757993;
  font-weight: 600;
  font-size: 18px;
}


/**
 * Tabs Content
 */
.services-content {
  width: 477px;
  height: 477px;
  border-radius: 16px;
  background-color: #fffae4;

  padding: 45px 60px;
}


.services-list__item {
  color: #121630;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;

  +.services-list__item {
    margin-top: 15px;
  }
}

.services-content__item {
  display: none;

  &.active {
    display: block;
  }
}


/**
 * Services Footer
 */
.services-footer {
  padding: 75px 0 100px;

  .btn {
    margin: 0 5px;
    padding-left: 27px;

    max-width: 350px;
    width: 100%;
  }
}


/**
 * Responsive
 */
@media only screen and (max-width: 768px) {

  .services {
    padding: 60px 0 37px;
  }

  .services-tabs__header {
    font-size: 31px;
  }

  .services-tabs__dsc {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.11;
  }

  .services-list__item {
    font-size: 15px;
    line-height: 1.59;
    letter-spacing: 1px;
  }

  .services-tabs__link {
    width: 100%;
    min-height: 110px;
    padding: 0;
  }

  .services-tabs__nav {
    flex: 0 0 50%;
  }

  .services-tabs__icon {
    width: 110px;
    height: 110px;
    flex: 0 0 110px;
  }

  .tabs-icon {
    max-width: none;

    &.icon-services-painting {
      width: 86px;
      height: 78px;
    }

    &.icon-services-rocket-launch {
      width: 56px;
      height: 79px;
    }

    &.icon-services-business-graph {
      width: 53px;
      height: 74px;
    }
  }

  .services-content {
    padding: 30px 40px;
  }

  .services-tabs__content {
    padding: 0 0 0 10px;
  }


  .services-tabs__arrow {
    width: 25px;
    height: 25px;
    right: -12px;
  }

  .services-footer {
    padding: 40px 0;

    .btn {
      max-width: 245px;
    }
  }

}

@media only screen and (max-width: 576px) {
  .services {
    padding-top: 30px;
  }

  .services-content {
    padding: 30px 20px 30px 30px;
  }

  .header-services {
    padding-bottom: 17px;
  }

  .services-tabs__header {
    font-size: 20px;
  }

  .services-tabs__icon {
    width: 60px;
    flex: 0 0 60px;
  }

  .services-list__item {
    font-size: 12px;
  }

  .services-list__item+.services-list__item {
    margin-top: 0;
  }

  .services-content {
    height: auto;
  }

  .services-footer {
    .d-flex {
      display: block !important;
      text-align: center;
    }

    .justify-content-end {
      margin-bottom: 20px;
    }

    .btn {
      max-width: 245px;
    }
  }

  .tabs-icon.icon-services-painting {
    width: 52px;
    height: 48px;
  }


  .tabs-icon.icon-services-rocket-launch {
    width: 42px;
    height: 60px;
  }

  .tabs-icon.icon-services-business-graph {
    width: 33px;
    height: 46px;
  }
}

