/**
 * Home: Testimonials
 */

.testimonials-header {
  position: relative;

  background-image: url('../images/heart.svg');
  background-repeat: no-repeat;
  background-size: 212px 186px;
  background-position: top right;

  max-width: 890px;
  position: relative;
  z-index: 100;
}

.testimonials {
  padding: 100px 0;

  .subtitle {
    padding: 0 0 20px;
  }

  .title {
    max-width: 807px;
  }

}

.feedback {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

  max-width: 300px;
  width: 100%;
  min-height: 400px;

  padding: 25px;

  border-radius: 16px;
  background-color: #feeb96;

  @include unselectable;
}

.feedback__text {
  color: #000;
  font-size: 14px;
  font-weight: 400;

  padding-bottom: 16px;
}

.feedback__author {
  color: #000;
  font-size: 18px;
  font-weight: 900;
}

.feedback__author-role {
  color: #000;
  font-size: 14px;
  font-weight: 900;
}


/**
 * Slider
 */

.container-testimonials {
  margin-top: -100px;
  padding-left: 150px;
  position: relative;
}

.testimonials-slider {

  .swiper-slide {
    opacity: 0;
    transition: all .3s;

    &.swiper-slide-active {
      opacity: 1;
    }

    &.swiper-slide-next {
      opacity: 1;

      .feedback {
        background: $light-yellow;
      }

      ~.swiper-slide {
        opacity: 1;

        .feedback {
          background: $light-yellow;
        }

        ~.swiper-slide {
          opacity: .4;

          .feedback {
            background: $light-yellow;
          }
        }

      }
    }

  }


  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;

    z-index: 1;
  }

  .swiper-button-prev {
    left: 130px;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-pagination {
    padding: 20px 0;
    color: #7c6600;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    white-space: nowrap;

    margin-right: 20px;
  }



  /* Scrollbar */
  .swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(252, 207, 1, .5);
    overflow: hidden;

    height: 10px;
    width: 300px;
  }

  .swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%;
  }

  .swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
  }

  .swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    left: 0;
    top: 0;

    background: #fccf01;
  }

  .swiper-scrollbar-cursor-drag {
    cursor: move;
  }


  // Testimonials Nav
  .testimonials-nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 0 0;
  }

}


@media only screen and (max-width: 902px) {
  .testimonials .title {
    max-width: 565px;
  }

}



@media only screen and (max-width: 768px) {
  .testimonials-header {
    background-size: 149px 132px;
  }

  .testimonials-slider {
    left: 66px;
    position: relative;
  }

  .testimonials-slider .swiper-button-prev {
    left: 0;
  }

  body .testimonials-slider .swiper-button-next, .swiper-button-next {
    right: 55px !important;
  }

}


@media only screen and (max-width: 706px) {
  .testimonials .title {
    max-width: 350px;
  }

}

@media only screen and (max-width: 576px) {
  .testimonials-slider .testimonials-nav {
    display: none;
  }
}
