/**
 * Home: Intro Section
 */


$intro-menu-bg: #00139b;

.intro {
  .title {
    position: relative;
    z-index: 100;
  }

  padding-bottom: 100px;
}

.intro-subtitle {
  text-align: right;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.09;

  max-width: 570px;
}

.intro-header {
  position: relative;
  top: 250px;
  opacity: 0;

  max-width: 1060px;
  padding: 33px 0 0;
  z-index: 75;

  transition: all 1s;

  .title {
    white-space: nowrap;
  }

  &.active {
    top: 0;
    opacity: 1;
  }
}


/**
 * Scene
 */

.intro-scene {
  position: relative;
  height: 714px;
  margin-top: -37px;
  position: relative;
}

.intro-scene-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 623px;

  opacity: 0.699056;
  z-index: 4;
  border-radius: 270px;
  background: #00139b;

  // box-shadow: 0px 90px 90px -5px rgba(0, 18, 155, 1);

  box-shadow: 0 0 50px 20px #00129b;

}

.intro-scene-box {
  position: absolute;
  top: -240px;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;

  z-index: 80;

  svg {
    width: 100%;
  }
}

/**
 * Intro Menu
 */

.intro-menu {
  display: block;
  position: relative;

  width: 100%;
  min-height: 514px;

  transform: translateZ(60px);
  z-index: 100;

  &.active {

    .intro-menu__item {

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        opacity: 1;
      }
    }
  }
}


.intro-menu__item {
  position: absolute;
  opacity: 0;

  // Coding
  &:nth-child(1) {
    transition: all ease-in .3s;
    top: 83px;
    right: 174px;
  }

  // Design
  &:nth-child(2) {
    transition: all ease-in .3s;
    top: 220px;
    left: 255px;
  }

  // Branding
  &:nth-child(3) {
    transition: all ease-in .3s;
    bottom: -136px;
    left: 213px;
  }


  // Business Strategy
  &:nth-child(4) {
    transition: all ease-in .3s;
    bottom: -80px;
    right: 54px;

    .btn {
      &.btn-icon {
        padding-right: 80px;
      }
    }
  }

  // Explore More
  &:nth-child(5) {
    top: 110px;
    right: -90px;
    transform: rotate(-90deg);

    opacity: 1;

    .icon {
      transform: scaleY(-1);
    }

    &:hover {
      .intro-menu__link {
        border-color: $white;
      }
    }

  }

}

/**
 * Responsive
 */
@media only screen and (max-width: 768px) {

  .intro-scene {
    height: auto;
    margin-top: -40px;
  }

  .intro-subtitle {
    font-size: 15px;
    line-height: 1.09;
    max-width: 400px;
  }

  .intro-menu__item:nth-child(1) {
    top: 41px;
    right: 140px;
  }

  .intro-menu__item:nth-child(2) {
    top: 145px;
    left: 90px;
  }

  .intro-menu__item:nth-child(3) {
    bottom: 50px;
    left: 50px;
  }

  .intro-menu__item:nth-child(4) {
    bottom: 86px;
    right: 50px;
  }

  .intro-menu__item:nth-child(5) {
    display: none;
  }

  .intro-scene-shadow {
    height: 100%;
  }

  .intro-scene-box {
    top: -300px
  }

}

@media only screen and (max-width: 576px) {
  .intro {
    padding: 0;
  }

  .intro-header .title {
    font-size: 17vw;
  }

  .intro-scene-box {
    top: -90px;
    width: 130%;
  }

  .intro-menu {
    display: none;
  }

  .intro-scene-box {
    position: relative;

    svg {
      height: auto;
    }
  }

  .intro-scene-box {
    top: auto;
  }

  .intro-scene-shadow {
    box-shadow: 0 0 50px 20px #00129b;
  }

}