/**
 * Home: Works
 */

.works {
  padding: 70px 0 300px;
  position: relative;

  .container {
    height: 100%;
  }

  .btn-icon {
    padding-right: 100px;
  }
}

.works-header {
  text-align: center;

  display: flex;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);

  margin-top: -180px;

  z-index: 100;

  @include unselectable;
}


/*
 * Works Slider
 * ========================================================================== */

.container-works-slider {
  position: relative;
  left: 50%;
  margin-left: -1382px;
  width: 2764px;
}

.tns-item {
  text-align: center;
  padding-bottom: 90px;
}


.swiper-slide-next,
.swiper-slide-prev {
  .works-slider__item {
    top: 0;
  }

  .works-slider__img {
    opacity: 1;
  }
}

.swiper-slide-active {
  .works-slider__item {
    top: 90px;
  }

  .works-slider__img {
    opacity: 1;
  }
}

.works-slider__item {
  display: inline-block;
  top: 90px;
  transition: all 0.5s ease;
  width: 100%;

  position: relative;
  @include unselectable;
}

.works-slider__logo {
  padding: 0 0 15px;
}

.works-slider__img {
  width: 100%;
  max-width: 700px;

  opacity: .4;
  transition: all 0.5s ease;
}

.works-slider__label {
  color: $text-color-invert;
  text-align: left;

  font-size: 37px;
  font-weight: 600;
  line-height: 1.07;

  position: absolute;
  left: 55px;
  bottom: 44px;

  z-index: 100;
}


/**
 * Slider
 */

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;

  z-index: 1;
}

.swiper-button-prev {
  left: 90px;
}

.swiper-button-next {
  right: 90px;
}

.container-slider-nav {
  position: relative;

  max-width: 100vw;
  width: 100%;
  top: -270px;
}



/**
 * Responsive
 */
@media only screen and (max-width: 768px) {
  .works {
    padding-top: 0;
  }

  .container-works-slider {
    width: 2000px;
    margin-left: -1000px;
  }

  .works-header {
    top: 50%;
  }
}

@media only screen and (max-width: 576px) {

  .works {
    padding-top: 0;
  }

}
