/**

  Sections

  Table of Contents
  -----------------

 */


.title {
  color: $text-color;
  font-size: 200px;
  font-weight: 900;
  text-align: center;
  text-transform: lowercase;

  &-sm {
    font-size: 100px;
    font-weight: 900;
    text-align: left;
    text-transform: none;
  }
}

.subtitle {
  color: #121630;
  font-size: 45px;
  font-weight: 600;
}

.section-inverted {
  background: $bg-inverted;

  .title {
    color: $text-color-invert;
  }

  p {
    color: $text-color-invert;
  }

  em {
    color: $text-color-em-invert;
  }
}


