/**
 * Posts
 */



/*
 * Featured Posts
 * ========================================================================== */

.featured-posts {
  background: $bg-inverted;
  padding: 0 0 100px;

  .row {
    margin: 0;
  }

  .col-md-6 {
    padding: 0;
  }
}

.featured-posts__item {
  position: relative;
}

.featured-posts__header {
  position: absolute;

  bottom: 0;
  left: 0;
  width: 100%;

  padding: 50px 50px 25px;
  background: rgba(0, 16, 126, 0.8);
}

.featured-posts__title {
  color: $white;
  font-size: 40px;
  font-weight: 600;
  line-height: 45px;

  display: block;
  max-width: 860px;

  @include hover($white, none);
}

.featured-posts__credentials {
  padding: 10px 0 0;
  display: flex;
  align-items: center;
}

.featured-posts__author-thumb {
  margin-right: 8px;
}

.featured-posts__author {
  color: $white;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  @include hover($white, none);

  margin-right: 8px;
}

.featured-posts__date {
  color: $white;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  opacity: 0.6;

  @include hover($white, none);
}

.featured-posts-secondary {

  .featured-posts__header {
    padding: 28px 50px 25px;
  }

  .featured-posts__title {
    font-size: 26px;
    line-height: 30px;
  }
}


/*
 * Recent Stories
 * ========================================================================== */

.recent-stories {
  background: $light-yellow;
  padding: 100px 0;


  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: 66px;
  }
}

.recent-stories__header {
  .btn  {
    margin-top: 23px;
  }
}

.recent-stories-container {
  padding: 40px 0 78px 87px;
  background: #FEEFAB;
  position: relative;
}

.recent-slide__header {
  display: block;

  @include hover($blue, none);
}

.recent-slide__details {
  display: block;
  padding: 24px;
}

.recent-slide__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 28px;

  display: block;
  padding: 0 0 20px;
}

.recent-slide__text {
  color: $silver;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  display: block;
}

.recent-slide__credentials {
  display: flex;
  padding: 0 20px 20px;
  align-items: center;
}

.recent-slide__author-thumb {
  width: 50px;
  height: 50px;
  margin-right: 10px;

  img {
    width: 100%;
  }
}

.recent-slide__author {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  display: block;
}

.recent-slide__date {
  color: $silver;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  display: block;
}



/**
 * Rescent Stories Slider
 */

.recent-slide {
  margin: 50px 0 0;
}

.recent-slide__thumb {
  overflow: hidden;
  height: 300px;
  display: block;
}

.recent-slide__img {
  height: auto;
  width: 100%;
}

.recent-slider {

  .swiper-slide {
    opacity: 0;
    transition: all .3s;

    &.swiper-slide-active {
      opacity: 1;

      .recent-slide {
        background: $white;
      }
    }

    &.swiper-slide-next {
      opacity: 1;

      .recent-slide {
        background: $white;
      }

      ~.swiper-slide {
        opacity: 1;

        .recent-slide {
          background: $white;
        }

        ~.swiper-slide {
          opacity: .4;

          .recent-slide {
            background: $white;
          }
        }

      }
    }

  }
}



/*
 * Recent Posts
 * ========================================================================== */

.recent-posts {
  .btn {
    max-width: 270px;
    width: 100%;
  }

  &.recent-posts-marked {
    background: $light-yellow;
  }
}

.recent-posts__header {
  padding: 100px 0 50px;
}

.recent-posts__title {
  padding: 0 0 44px;
}

.recent-posts__footer {
  padding: 50px 0 100px;
  text-align: center;
}




/*
 * Post Block
 * ========================================================================== */

.recent-posts__main {

  .post-block {
    flex-direction: row;
    margin-bottom: 30px;
  }

}

.post-block {
  display: flex;
  flex-direction: column;

  a {
    @include hover($blue, none);
  }
}

.post-block__header {
  display: block;

  @include hover($blue, none);
}


.recent-posts__content {
  .row {
    +.row {
      margin-top: 30px;
    }
  }
}

.post-block__content {
  background: $white;
}

.post-block__details {
  display: block;
  padding: 24px;
}

.post-block__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 28px;

  display: block;
  padding: 0 0 20px;
}

.post-block__text {
  color: $silver;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  display: block;
}

.post-block__credentials {
  display: flex;
  padding: 0 20px 20px;
  align-items: center;
}

.post-block-author__thumb {
  width: 50px;
  height: 50px;
  margin-right: 10px;

  img {
    width: 100%;
  }
}

.post-block-author {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  display: block;
}

.post-block__date {
  color: $silver;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  display: block;
  padding: 5px 0 0;
}

/*
 * Related Post Block
 * ========================================================================== */

.related-posts {
  padding: 100px 0;
}
