/*
 * CTA
 * ========================================================================== */

.cta {
  text-align: center;

  position: relative;
  padding: 200px 0 0;
  margin-top: 350px;
  background: $bg-em;

  .cta-scene {
    position: relative;
    margin: -645px auto 0;
  }

  .title {
    text-align: center;
    margin-top: -110px;
  }

  .subtitle {
    font-size: 30px;
    font-weight: 900;
    max-width: 587px;

    display: block;
    padding: 21px 0 26px;
    margin: 0 auto;
  }

  .btn {
    padding-right: 150px;

  }
}

.cta-social {
  text-align: center;
}


.cta-social__header {
  display: inline-block;
  position: relative;
  width: 509px;

  margin: 50px 0 13px;

  &:before {
    content: '';
    position: absolute;

    top: 50%;
    left: 0;
    margin-top: -2px;

    width: 100%;
    height: 1px;
    opacity: 0.3;
    background: #000;
  }

}

.cta-social__title {
  color: $text-color;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.22;
  text-align: center;
  display: inline-block;
  padding: 0 12px;
  position: relative;
  background: $light-yellow;
}

.cta-social__menu {
  display: flex;
  justify-content: center;
}

.cta-social__item {
  margin: 0 11px;
}

.cta-social__link {
  transition: $btn-transition;

  &:hover {
    opacity: .8;

    img {
      transform: scale(1.2);
    }
  }
}

/**
 * Responsive
 */
@media only screen and (max-width: 768px) {

  .cta {
    padding: 0;
    margin: 300px 0 0;

    .cta-scene {
      margin: 0;
      margin-top: -400px;

      svg {
        width: 100%;
        height: auto;
      }
    }
  }

  .cta-content {
    padding: 100px 0 0;
  }
}

@media only screen and (max-width: 576px) {

  .cta-social__header {
    width: auto;

    &:before {
      display: none;
    }
  }

  .cta-content {
    text-align: center;
    padding-top: 0;
  }

  .cta {
    margin-top: 0;

    .cta-scene {
      margin-top: 0;
    }

    .title {
      max-width: 380px;
      display: inline-block;
      margin-top: 0;
    }

    .subtitle {
      font-size: 20px;
      max-width: 340px;
    }

    .btn {
      max-width: 245px;
    }
  }
}