/**
 * Variables
 */


/*
 * Fonts
 * ========================================================================== */

$font-family: 'Coco Gothic', Arial, Helvetica, sans-serif;

$body-font: $font-family;
$header-font: $font-family;

$basic-font-size: 62.5%;

/*
 * Colors
 * ========================================================================== */

$black: #121630;
$white: #fff;
$yellow: #fccf01;
$blue: #0020ff;

$red: #f3552f;

$light-blue: rgba(0, 32, 255, .1);
$light-yellow: #fffae4;

$gray: rgba(18, 22, 48, 0.5);
$silver: #757993;
$dark: #403b26;

$text-color: $black;
$text-color-invert: $white;
$text-color-em-invert: $yellow;
$text-color-hover: $blue;

$bg-inverted: $black;
$bg-em: $light-yellow;

/*
 * Const
 * ========================================================================== */

$border-radius: 16px;
$border-radius-lg: 25px;


/**
 * Animation
 */

$btn-transition: all .150s ease;
