@font-face {
    font-family: 'Coco Gothic';
    src: local('Coco Gothic'), local('CocoGothic'),
        url('subset-CocoGothic.woff2') format('woff2'),
        url('subset-CocoGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic ExtBlk';
    src: local('Coco Gothic Fat'), local('CocoGothic-Fat'),
        url('subset-CocoGothic-Fat.woff2') format('woff2'),
        url('subset-CocoGothic-Fat.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic';
    src: local('Coco Gothic Bold'), local('CocoGothic-Bold'),
        url('subset-CocoGothic-Bold.woff2') format('woff2'),
        url('subset-CocoGothic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic';
    src: local('Coco Gothic Heavy'), local('CocoGothic-Heavy'),
        url('subset-CocoGothic-Heavy.woff2') format('woff2'),
        url('subset-CocoGothic-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

